@import '../../styles/mixins.scss';

.presentation {
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &Image {
        @include position(absolute, $bottom: 0, $left: 50%);
        transform: translateX(-50%);
        width: rem(300);
        height: 60vh;
        max-height: 25rem;

        img {
            border-radius: rem(200) rem(200) 0 0;
        }
    }

    &Links {
        @include position(absolute, $bottom: 1rem, $left: 0);
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        
        &::after {
            content: '';
            width: 1px;
            height: rem(30);
            background-color: black;
            margin-top: rem(10);
        }

        > div {
            width: rem(20);
            height: rem(20);
        }

    }
    
    &Scroll {
        @include position(absolute, $bottom: 1rem, $right: 0);

        small {
            transform: rotate(90deg) translateX(-50%);
            display: flex;
            align-items: center;

            &::after {
                content: '';
                width: rem(30);
                height: 1px;
                background-color: black;
                margin-left: rem(15);
            }
        }
    }
}
