@import '../../styles/mixins.scss';

.presentation {
    &Title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        button {
            display: none;
        }

        > * {
            text-align: center;
        }
    }

    &Links {
        @media (max-width: $media-breakpoint-tablet) {
            left: 2rem;
        }
        @include position(absolute, $bottom: 1rem, $left: var(--presentation-links-offset));
        display: none;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        
        &::after {
            content: '';
            width: 1px;
            height: rem(30);
            background-color: white;
            margin-top: rem(10);
        }

        > a {
            @media (max-width: $media-breakpoint-tablet) {
                width: 3rem;
                height: 3rem;
            }
            display: block;
            width: rem(20);
            height: rem(20);
        }

    }
    
    &Scroll {
        @media (max-width: $media-breakpoint-tablet) {
            right: 2rem;
        }
        @include position(absolute, $bottom: 1rem, $right: var(--presentation-scroll-offset));
        display: none;

        small {
            transform: rotate(90deg) translateX(-50%);
            display: flex;
            align-items: center;

            &::after {
                content: '';
                width: rem(30);
                height: 1px;
                background-color: white;
                margin-left: rem(15);
            }
        }
    }
}
