@import '../../styles/mixins.scss';

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &MainContent {
        @media (max-width: $media-breakpoint-XL) {
            flex-direction: column;
            gap: 3rem;
        }
        display: flex;
        gap: 7rem;
        
    }
    
    &Poster {
        @media (max-width: $media-breakpoint-XL) {
            left: 50%;
            transform: translateX(-50%);
            width: 33%;
        }
        @media (max-width: $media-breakpoint-XL) {
            width: 100%;
            max-width: rem(400);
        }
        position: relative;
        flex-basis: 35%;
        aspect-ratio: 1;
        border-radius: var(--border-radius-card);
        transform: rotate(-1deg);
        transition: all 0.3s;

        &:hover {
            transform: rotate(0);
        }

        &::after {
            content: '';
            position: absolute;
            inset: -1px;
            background: linear-gradient(to bottom, var(--progress-background-accent), var(--card-border-end));
            z-index: -1;
            border-radius: inherit;
        }

        img {
            border-radius: var(--border-radius-card);
        }
    }
    
    &Details {
        flex-basis: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2rem;
    }
    
    &Cards {
        @media (max-width: $media-breakpoint-L) {
            flex-wrap: wrap;
            gap: 2rem 1rem;
            justify-content: center;
        }
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
    }
    
    &Card {
        @media (max-width: $media-breakpoint-L) {
            flex-basis: calc(50% - 0.5rem);
        }
        @media (max-width: $media-breakpoint-phone) {
            flex-basis: 100%;
        }
        position: relative;
        background-color: var(--card-background);
        flex-basis: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        gap: 1rem;
        padding: 1rem;
        border-radius: var(--border-radius-card);
        max-width: rem(260);

        &::after {
            content: '';
            position: absolute;
            inset: -1px;
            background: linear-gradient(to bottom, var(--progress-background-accent), var(--card-border-end));
            z-index: -1;
            border-radius: inherit;
        }

        h3 {
            text-align: center;
        }

        &Image {
            width: rem(20);
            height: rem(20);
        }
    }
}