@import '../../styles/mixins.scss';

.skills {
    &Container {
        @media (max-width: $media-breakpoint-tablet) {
            flex-direction: column;
        }
        margin: 0 auto;
        max-width: rem(1000);
        display: flex;
        justify-content: space-between;
        gap: 5rem;

        h3 {
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    &Technical {
        flex-basis: rem(400);
    }

    &Professional {
        flex-basis: rem(350);

        &Container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem 5rem;
        }
    }
}