@import '../../styles/mixins.scss';

.skills {
    background-color: purple;

    &Container {

    }

    &Technical {
        &Icon {
            width: rem(20);
            height: rem(20);
        }

        &Progress {
            height: rem(2);
            width: 100%;
            background-color: var(--white);
            
            div {
                background-color: black;
                height: rem(2);
                width: 30%;
            }
        }
    }

    &Professional {
        &Container {

        }

        &Instance {
            > div {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 75%, pink 0);
            }
        }

    }
}