@import '../../styles/mixins.scss';

.experienceCard {
    margin-bottom: 1.2rem;
    border-bottom: 4px solid black;
    padding: 1rem;
    border-radius: var(--border-radius-card);

    ul {
        padding: 1rem 0 0 1rem;
        
        li {
            list-style-type: disc;

        }
    }
    
    &Skeleton {
        &::before {
            @include position(absolute, $top: 0);
            transform: translateY(-100%);
            content: '';
            background-color: black;
            width: rem(6);
            display: block;
            height: 1.5rem;
            z-index: 5;
        }
    }

    &Image {
        position: relative;
        transform: translateX(-45%);
        width: 50px;
        height: 50px;
        z-index: 2;
        border: 3px solid gray;
        border-radius: 50%;
        
        img {
            border-radius: 50%;
            z-index: 3;
        }
    }
}