@import '../../styles/mixins.scss';

.experience {
    background-color: beige;

    &Container {
        > div {
            position: relative;
            background-color: red;
            max-width: 30%;

            > div {
                @include position(absolute, $top: 0);
                width: rem(6);
                height: 100%;
                background-color: black;
            }

            &:nth-child(odd) {
                left: calc(50% + 3rem);

                > div {
                    left: -3rem;
                }
            }
            
            &:nth-child(even) {
                left: calc(50% - 2.6rem);
                transform: translateX(-100%);

                > div {
                    right: -3rem;
                }
            }
        }
    }
}