@import '../../styles/mixins.scss';

.experienceCard {
    margin-bottom: 1.2rem;
    padding: 2rem;
    border-radius: var(--border-radius-tree);
    border-bottom: 2px solid var(--card-border-end);

    ul {
        padding: 1rem 0 0 1rem;
        
        li {
            list-style-type: disc;

        }
    }
    
    &Skeleton {
        &::before {
            @include position(absolute, $top: 0);
            transform: translateY(-100%);
            content: '';
            background-color: var(--light-green);
            width: rem(5);
            display: block;
            height: 1.5rem;
            z-index: 5;
        }
    }

    &Image {
        position: relative;
        transform: translateX(-45%);
        width: 50px;
        height: 50px;
        z-index: 2;
        border: 5px solid var(--light-green);
        border-radius: 50%;
        background-color: var(--body-background);
        
        img {
            border-radius: 50%;
            z-index: 3;
        }
    }
}