@import './variables.scss';
@import './mixins.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: red;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    all: unset;
    background-color: black;
    border-radius: 4px;
    color: white;
    padding: 0.5rem 0;
}

// layout
section {
    position: relative;
    max-width: rem(1500);
    min-height: 100vh;
    margin: 0 auto;
    padding: 10rem 1rem 3rem;
}

.title-container {
    @include position(absolute, $top: 3rem, $left: 50%);
    transform: translateX(-50%);
    text-align: center;
}

// typography
h1 {
    font-size: 5rem;
    font-weight: 300;
}

h2 {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 300;
}

h3 {
    font-size: clamp(1.12rem, 1.5vw, 1.5rem);
    font-weight: 800;
}

h4 {
    font-size: clamp(14px, 1vw, 1rem);
    font-weight: 400;
}

h5,
span {
    font-size: rem(14);
    font-weight: 800;
}

small {
    font-weight: 900;
}

// components