@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@function rem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

// breakpoints
$media-breakpoint-XXL: 76rem;      // 1216
$media-breakpoint-XL: 64rem;      // 1024
$media-breakpoint-L: 36.87rem;    // 590
$media-breakpoint-tablet: 48rem;  // 768
$media-breakpoint-phone: 30rem;   // 480
