:root {
    // colors
    --body-background: #05010e;
    --body-background-shade: #0D0326;
    --card-background: #212031;
    --card-border-end: #E08DAC;
    --white: #ffffff;
    --navigation-background: #929792;
    --tree-background: #DFF8EB;
    --progress-background: #333341;
    --progress-background-accent: #6CD4FF;

    --border-radius-card: 1.5rem;
    --border-radius-tree: 0.25rem;
}