:root {
    // colors
    --body-background: #05010e;
    --card-background: #0D0326;
    --card-border-end: #E08DAC;
    --navigation-background: #E5D9FC;
    --white: #ffffff;
    --progress-background: #333341;
    --progress-background-accent: #6CD4FF;
    --light-green: #DEF8EA;

    --border-radius-card: 1.5rem;
    --border-radius-tree: 0.25rem;

    // layout
    --body-max-width: 93rem;
}