:root {
    // colors
    --body-background: #05010e;
    --card-background: #212031;
    --card-border-start: #6CD4FF;
    --card-border-end: #FE938C;
    --white: #ffffff;
    --navigation-background: #929792;
    --tree-background: white;
    --progress-background: #333341;
    --progress-background-accent: #6CD4FF;

    --border-radius-card: 1.5rem;
    --border-radius-tree: 0.25rem;
}