@import '../../styles/mixins.scss';

.navigation {
    @include position(fixed, $top: 0, $left: 0, $right: 0);
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        position: relative;
        color: var(--light-green);
    }

    ul li:not(:last-child) a {
        margin-bottom: 1.5rem;
        display: block;

        &::after {
            @include position(absolute, $bottom: -14px, $left: -10px , $right: -10px);
            content: '';
            background-color: var(--light-green);
            height: 1px;
        }
    }

    &Logo {
        height: 60px;
        width: 60px;
    }
}