@import '../../styles/mixins.scss';

.navigation {
    @include position(fixed, $top: 0, $left: 0, $right: 0);
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        @media (max-width: $media-breakpoint-tablet) {
            color: black;
        }
        position: relative;
        color: var(--light-green);
    }
    
    ul {
        @media (max-width: $media-breakpoint-tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    ul li:not(:last-child) a {
        margin-bottom: 1.5rem;
        display: block;
        
        &::after {
            @media (min-width: $media-breakpoint-tablet) {
                @include position(absolute, $bottom: -14px, $left: -10px , $right: -10px);
                content: '';
                background-color: var(--light-green);
                height: 1px;
            }
        }
    }
    
    nav {
        @media (max-width: $media-breakpoint-tablet) {
            @include position(absolute, $top: 0, $right: 0);
            width: 40%;
            height: 100vh;
            padding-top: 8rem;
            transition: all 0.3s;
            background-color: var(--navigation-background);
        }
        @media (max-width: $media-breakpoint-phone) {
            width: 100%;
        }
    }
    
    &Open {
        transform: translateX(0);
    }
    
    &Hidden {
        @media (max-width: $media-breakpoint-tablet) {
            transform: translateX(120%);
        }
    }

    &Logo {
        height: rem(60);
        width: rem(60);
    }

    &Hamburger {
        @media (min-width: $media-breakpoint-tablet) {
            display: none;
        }
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg) brightness(106%) contrast(103%);
        width: rem(40);
        height: rem(40);
    }

    &Close {
        @media (min-width: $media-breakpoint-tablet) {
            display: none;
        }
        @include position(absolute, $top: 2rem, $left: 2rem);
        color: black;
        width: rem(40);
    }
}
